* {
	font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: mayQueen;
    src: url(mayqueen.ttf);
}

body {
	margin: 0;
}

header {
	display: block;
	padding: 5pt;
	color: #000000;
	background-color: #B0B0B0;
	border-style: solid none;
	border-width: 1pt;
	border-color: black;
}

header h1,h2 {
	display: inline;
}

/* TODO vertically center h1 */

header h2 {
	font-family: mayQueen;
}

#padding-box1, #padding-box2 {
	width: 50%;
	padding: 0;
	margin: 0;
}

#padding-box1 {
	float: left;
	display: block;
}

#padding-box2 {
	float: right;
	display: flex;
	justify-content: flex-end;
}

.clear {
	clear: both;
}

#welcome-box  {
	display: inline-block;
	border: 1pt solid black;
	padding: 5pt;
	background-color: #C0C0C0;
}

#welcome-box h4 {
	margin: 0px;
}

#welcome-box img{
	vertical-align: middle;
	border: 1px solid black;
	margin: 0pt 5pt;
}

content {
	display: block;
	margin: 8pt;
}

.overlap {
	color: red;
	font-weight: bold;
}

#alert-box {
    color: #050505;
	background-color:#ffecec;
    border-radius: 10pt;
    padding: 10pt 10pt 10pt 36pt;
    margin: 10pt;
    border:1pt solid #f5aca6;
}

#alert-box strong {
    text-transform:uppercase;
}

#alert-box span {
	display: list-item;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	margin: 5pt;
}

th, td {
    border: 1px solid black;
	padding: 5pt;
}

td a:link{
	color: inherit;
	text-decoration: none;
}